{:paths ["src"]
 :deps {no.cjohansen/nexus {:mvn/version "2025.07.1"}}
 :aliases
 {:build
  {:deps
   {io.github.clojure/tools.build {:mvn/version "0.9.4"}
    slipset/deps-deploy {:mvn/version "0.2.2"}}
   :ns-default build}
  :dev
  {:extra-paths ["dev"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.12.0"}
                ring/ring-core {:mvn/version "1.14.2"}
                ring/ring-mock {:mvn/version "0.6.1"}}}
  :test
  {:extra-paths ["test"]
   :main-opts ["-m" "kaocha.runner"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.91.1392"}
    kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}}}
  :with-examples
  {:extra-paths ["./examples/src"]
   :extra-deps {ring/ring-jetty-adapter {:mvn/version "1.13.0"}
                metosin/reitit {:mvn/version "0.9.1"}
                hato/hato {:mvn/version "1.1.0-SNAPSHOT"}
                com.datomic/peer {:mvn/version "1.0.7364"}}}
  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :remote
               :sign-releases? false
               :artifact "target/com.ovistoica/ring-nexus-middleware-2025.07.28.jar"}}}}
